.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 1px var(--light);
    border: 1px solid var(--light);
    padding: 1rem 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 150px;
}

.links {
    display: flex;
    margin-top: -0.25rem;
    margin-right: -0.5rem;
}

.links > a {
    color: black;
    border-radius: 2px;
    padding: 6px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.links > a:hover {
    color: var(--orange);
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

.card-title, .card-description {
    margin: 0;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.33rem;
}

.card-title a {
    color: black;
    text-underline-offset: 4px;
}

.card-title a:hover {
    color: var(--orange);
}

.card-description {
    font-size: 0.9rem;
}

.project-languages {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    line-height: 1;
    flex-wrap: wrap;
    cursor: default;
}

.project-stats {
    margin-top: auto;
    padding-top: 1rem;
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
    line-height: 1;
    flex-wrap: wrap;
    cursor: default;
}

.project-stat .icon + * {
    margin-left: 0.1rem;
}

@media (min-width: 770px) {
    .card {
        padding: 1.25rem 1.5rem;
    }
}