@using Microsoft.FeatureManagement
@namespace App.Components.Pages.Home.Components
@inject IFeatureManager FeatureManager

@if (IsEnabled)
{
    <section class="section" id="blog">
        <h2 class="section-heading">Recent Blog Posts</h2>
        <div class="blog-post">
            <h3>Never Say Always</h3>
            <p>Software engineering doesn't have to be dogmatic.</p>
        </div>
        <div class="blog-post">
            <h3>Why your EF Queries Suck</h3>
            <p>It doesn't have to be this way!!!</p>
        </div>
    </section>
}

@code {
    
    private bool IsEnabled { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsEnabled = await FeatureManager.IsEnabledAsync(FeatureFlags.Blog);
    }
}