@page "/"
@using App.Components.Pages.Home.Components
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<div class="top-border">
    <CurrentActivityBadge />
</div>

<div class="page">
    <header class="page-header">
        <HeaderCard />
    </header>
    <div class="page-body">
        <div class="page-body-content">
            <div class="info-block">
                <h2 class="heading">Featured Projects</h2>
                <FeaturedProjectsGrid />
            </div>
        </div>
    </div>
</div>