@page "/"
@using App.Components.Pages.Home.Components
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<div class="top-border">
    @if (DiscordUser?.CurrentSpotifyTrack is { } listeningTo)
    {
        <p class="listening-to">
            <span>
                <span style="color: #1ed760">
                    <i class="fa-brands fa-spotify"></i>
                </span>
                <span>
                    I'm currently listening to <a href="https://open.spotify.com/track/@listeningTo.TrackId" target="_blank">@listeningTo.Song</a>
                </span>
                <span>
                    on Spotify.
                </span>
            </span>
        </p>
    }
</div>

<div class="page">
    <header class="page-header">
        <div class="page-header-content">
            <div class="image">
                <img alt="Erin" src="me.png" />
            </div>
            <div class="greeting">
                <h1 class="greeting-title">Hi, I'm Erin.</h1>
                <p class="greeting-subtitle">I'm a .NET software engineer passionate about building systems that make sense.</p>
                <p class="external-links">
                    <a class="link" href="https://github.com/erinnmclaughlin" target="_blank">
                        <span class="icon">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </span>
                    </a>
                    <a class="link" href="https://www.linkedin.com/in/e1mclaughlin/" target="_blank">
                        <span class="icon">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="page-content-inner">
            <div class="info-block">
                <h2 class="heading">Featured Projects</h2>
                @if (FeaturedProjects is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="card-container">
                        @foreach (var featuredProject in FeaturedProjects)
                        {
                            <ProjectCard ProjectDefinition="@featuredProject"/>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>