@page "/"
@using App.Components.Pages.Home.Components
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<div class="top-border">
    <CurrentActivityBadge />
</div>

<div class="page">
    <header class="page-header">
        <HeaderCard />
    </header>
    <div class="page-body">
        <section class="section" id="projects" >
            <h2 class="section-heading">Featured Projects</h2>
            <FeaturedProjectsGrid />
        </section>
        @if (ShowBlogSection)
        {
            <section class="section" id="blog">
                <h2 class="section-heading">Recent Blog Posts</h2>
                <div class="blog-post">
                    <h3>Never Say Always</h3>
                    <p>Software engineering doesn't have to be dogmatic.</p>
                </div>
                <div class="blog-post">
                    <h3>Why your EF Queries Suck</h3>
                    <p>It doesn't have to be this way!!!</p>
                </div>
            </section>
        }
    </div>
</div>