.top-border {
    height: 1rem;
    background-color: var(--light);
    width: 100%;
}

.page {
    height: 100%;
}

.page-header {
    height: min-content;
    position: relative;
    width: 100%;
}

.page-body {
    padding: 1.25rem;
}

.page-body-content {
    max-width: 1440px;
    margin-inline: auto;
}

.heading {
    margin-bottom: 1rem;
}

.info-block {
    margin-bottom: 1rem;
}

@media (min-width: 770px) {
    
    .top-border {
        height: 2rem;
        background-color: white;
        padding-inline: 2rem;
    }
    
    .page-header {
        padding-inline: 2rem;
    }
    
    .page-body {
        padding: 2rem;
    }
}
