@using App.Projects
@using App.Projects.Services
@namespace App.Home.Components
@inject IFeaturedProjectsProvider FeaturedProjectsProvider

<section class="section fade-in" id="projects" >
    <h2 class="section-heading">Featured Projects</h2>
    <div class="card-container">
        @foreach (var project in FeaturedProjects)
        {
            <AppProjectCard ProjectDefinition="project"/>
        }
    </div>
</section>

@code {

    private FeaturedProjectDefinition[] FeaturedProjects { get; set; } = [];

    protected override void OnInitialized()
    {
        FeaturedProjects = FeaturedProjectsProvider.GetFeaturedProjects();
    }
}
