@using App.Blog
@using App.Blog.Services
@using Microsoft.FeatureManagement
@namespace App.Home.Components
@inject IBlogRepository BlogRepository
@inject IFeatureManager FeatureManager

@if (Posts?.Count > 0)
{
    <section class="section fade-in" id="blog">
        <h2 class="section-heading">Recent Blog Posts</h2>
        @foreach (var post in Posts ?? [])
        {
            <a href="" class="blog-post">
                <h3>@post.Title</h3>
                <p>@post.ContentPreview</p>
            </a>
        }
    </section>
}

@code {
    
    private bool IsEnabled { get; set; }

    private IReadOnlyList<RecentBlogPost>? Posts { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        IsEnabled = await FeatureManager.IsEnabledAsync(FeatureFlags.Blog);

        if (IsEnabled)
        {
            Posts = await BlogRepository.GetRecentPostsAsync();
        }
    }
}