@page "/"
@using App.Home.Components
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<div class="top-border">
    <AppCurrentActivityBadge />
</div>

<div class="page">
    <header class="page-header">
        <AppHeaderCard />
    </header>
    <div class="page-body">
        <AppProjectsSection />
        <AppBlogSection />
    </div>
</div>