@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-between align-items-center">
    <h1>Blog Posts</h1>
    <a class="btn btn-sm btn-primary" href="/create">New Post</a>
</div>

@if (Posts is null)
{
    <p><em>Loading...</em></p>
}
else if (Posts.Count == 0)
{
    <p>No posts available.</p>
}
else
{
    <ul>
        @foreach (var post in Posts)
        {
            <li>@post.Title</li>
        }
    </ul>
}

