.top-border {
    height: 1rem;
    background-color: var(--light);
    width: 100%;
}

.page-header {
    height: min-content;
    position: relative;
    width: 100%;
}

.page-body {
    width: 100%;
}

::deep .section {
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 1.75rem;
}

::deep .section:last-child {
    padding-bottom: 3rem;
}

::deep .section-heading {
    margin-bottom: 1rem;
}

@media (min-width: 770px) {
    
    .page {
        padding-bottom: 2rem;
    }
    
    .top-border {
        height: 2rem;
        background-color: white;
        padding-inline: 2rem;
    }
    
    .page-header {
        padding-inline: 2rem;
    }
    
    .page-body {
        padding-inline: 2.25rem;
    }
    
    ::deep .section {
        margin-inline: auto;
    }
}
