@if (UserData?.CurrentSpotifyTrack is { } listeningTo)
{
    <p class="current-activity">
        <span>
            <span style="color: #1ed760">
                <i class="fa-brands fa-spotify"></i>
            </span>
            <span>
                I'm currently listening to <a href="https://open.spotify.com/track/@listeningTo.TrackId" target="_blank">@listeningTo.Artist</a>
            </span>
        </span>
    </p>
}