.current-activities {
    max-width: 1440px;
    margin-inline: auto;
    font-size: 0.75rem;
    height: 100%;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

.current-activity > span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 770px) {
    .current-activities {
        display: flex;
        justify-content: end;
    }
}