@if (FeaturedProjects is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-container fade-in" style="animation-delay: 0.5s">
        @foreach (var project in FeaturedProjects)
        {
            <ProjectCard ProjectDefinition="project"/>
        }
    </div>
}
