@page "/2"

<header>
    <div>
        <h1>Hi, I'm Erin</h1>
        <p>I'm a .NET software engineer passionate about building systems.</p>
    </div>
    <div class="lottie-container">
        <LottiePlayer Source="woman_working.json" />
    </div>
</header>