header {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem;
    height: min-content;
    position: relative;
    background: #000;
}

.lottie-container {
    position: absolute;
    width: 100px;
    height: min-content;
    transform: rotateY(180deg);
    bottom: -52px;
    right: 0;
}